{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

    <section class="main-Mentions container-fluid col-lg-10 align-self-center  ">

            {# Titre principal de la page #}
            <div class=" container-fluid col-lg-12 text-center row p-4 ">
                <h1 class="text-center fs-custom-1 mt-3 m-lg-3 col-xl-12">CGU</h1>
            </div>

        <section class="row justify-content-around section ">
            <div class="row mt-5 mb-3">

                {# Text  #}
                <div class="col-lg-8 mx-auto  align-self-center">
                    <p class=" lh-lg text-justify h2">




                    </p>
                </div>
            </div>
        </section>

        <div class="row ligne-cover p-4 ">
            <hr class="col-8 mx-auto center ">
        </div>
        <section class="row">



            <<div class="row mt-3 mb-5">
                <div class="text-center my-2">
                    <a href="{{ path('main_contact') }}"><button class="btn w-md-50 text-decoration-none text-light px-4 mx-3" type="button"><i class="fas fa-envelope fa-4x text-color-dark-celadon"></i></button></a>

                </div>

                <p class="text-center mt-3">Si vous souhaitez en savoir plus,  vous pouvez me contacter.</p>
            </div>
        </section>

    </section>






{% endblock %}

