{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

    <section class="main-Mentions container-fluid col-lg-10 align-self-center  ">

            {# Titre principal de la page #}
            <div class=" container-fluid col-lg-12 text-center row p-4">
                <h1 class="text-center fs-custom-1 mt-3 m-lg-3 col-xl-12">Mentions légales</h1>
            </div>

        <section class="row justify-content-around section ">
            <div class="row mt-5 mb-3">

                {# Text  #}
                <div class="col-lg-8 mx-auto  align-self-center">
                    <p class=" lh-lg text-justify h2">


                        Conformément aux  dispositions de l’article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la  confiance dans l’économie numérique, nous vous informons que :<br>

                        Le présent site est édité  par :<br>

                        Entreprise ClaiR’scol, Coaching et formation<br>

                        Claire SAUREL<br>

                        Mobile : 06.72.69.98.95<br>

                        L’hébergeur du site assurant le stockage direct et permanent est :<br>

                        INFOMANIAK NETWORK SA<br>
                        26 avenue de la Praille<br>
                        1227 Carouge / Genève<br>
                        SUISSE.<br>

                        Conformément à la loi Informatique  et libertés du 6 janvier 1978 modifiée en 2004, les données à caractère  personnel sont destinées à l’exploitant du site et leur usage conforme aux  finalités déclarées à la Cnil.Les  données sont destinées à l’éditeur du site cscoach.fr, responsable  du traitement.<br>

                        Les  informations indispensables sont signalées par un astérisque dans le  formulaire. A défaut il ne pourra  être répondu à la demande de l’utilisateur.<br>
                        Les  autres informations demandées, pour lesquelles la réponse de l’utilisateur est  facultative, sont destinées à mieux connaitre l’utilisateur et à améliorer les  services proposés.<br>

                        Conformément aux dispositions  de la « loi Informatique et libertés » du 6 janvier 1978 modifiée en  2004, l’utilisateur dispose d’un droit d’accès, de rectification et de  suppression des données à caractère personnel le concernant.<br>

                        La mise en œuvre  de ces droits est possible par simple courriel envoyé  à l’adresse figurant ci-dessus.L’utilisateur  dispose également d’un droit d’opposition au traitement de ses données pour des  motifs légitimes ainsi qu’un droit d’opposition à ce que ces données soient  utilisées à des fins de prospection commerciale.<br>

                        L’utilisateur  est informé que lors de ses visites sur le site, un cookie peut s’installer  automatiquement sur son logiciel de navigation.   Le paramétrage du logiciel de  navigation permet d’informer de la présence de cookie et éventuellement, de la  refuser de la manière décrite à l’adresse suivante
                        <a target="_blank" class="text-black-50" href="https://www.cnil.fr/professionnel">http://www.cnil.fr/.</a><br>

                      La  structure générale et l’architecture du site, ainsi que chacun de ses éléments,  notamment les logiciels, textes, images animées ou non, sont protégés par le  droit d’auteur. A ce titre, toute utilisation et notamment toute reproduction  totale ou partielle du site ou de ses éléments, ainsi que tout transfert de ses  éléments vers un autre site sans l’accord écrit et exprès des ayants droit est  interdite et constituerait une contrefaçon sanctionnée par les articles L.  335-2 et suivants du Code de la propriété intellectuelle.Les  marques (semi-figuratives ou non), ainsi que les logos figurant sur le site  sont protégés.<br>

                        Toute  reproduction totale ou partielle de ces marques ou de ces logos effectuée à  partir des éléments du site sans l’autorisation des ayants droit est donc  prohibée.

                    </p>
                </div>
            </div>
        </section>
        <div class="row ligne-cover p-4 ">
            <hr class="col-8 mx-auto center ">
        </div>
        <section class="row">



            <<div class="row mt-3 mb-5">
                <div class="text-center my-2">
                    <a href="{{ path('main_contact') }}"><button class="btn w-md-50 text-decoration-none text-light px-4 mx-3" type="button"><i class="fas fa-envelope fa-4x text-color-dark-celadon"></i></button></a>

                </div>

                <p class="text-center mt-3">Si vous souhaitez en savoir plus,  vous pouvez me contacter.</p>
            </div>
        </section>

    </section>






{% endblock %}

