{% extends 'base.html.twig' %}

{% block title %}Mes partenaires{% endblock %}

{% block body %}

    <main class="container-fluid col-lg-10 align-self-center  ">

            {# Titre principal de la page #}
            <div class="row p-4">
                <h1 class="text-center fs-custom-1 mt-3 m-lg-3 col-xl-12">Mes partenaires</h1>
            </div>

            {# Text d'introduction #}
            <div class="row mt-5 mb-3">

                {# Image de support #}
                <div class="col-lg-8 mx-auto  align-self-center">

                    <p class="h2" >
                        Je fais partie du réseau Coachs <strong>A L’ECOLE :</strong>
                    </p>
                </div>
                <div class="col-lg-8 offset-2 p-5 text-center">
                    <img class="img-fluid w-100" src="{{ asset('images/Coachs_a_lecole_quadri@3x-100.jpg') }}" alt="coachs à l'école" >
                </div>
            </div>

        <div class="row ligne-cover p-4 ">
            <hr class="col-8 mx-auto center ">
        </div>

            {# Partie 1 : Pour qui pour quoi #}
            <section class="row ">

                {# Titre secondaire #}
                <div class="row mt-5 mb-3">
                    <h2 class="text-center fs-custom-1 mt-3 m-lg-3 col-xl-12">les objectifs</h2>
                    <div class="row mt-3 mb-5">
                        <div class="lh-lg text-justify">
                        </div>
                    </div>
                </div>

                <div class="row ligne-cover p-4 mx-auto ">
                    <hr class="col-8 mx-auto center ">
                </div>

                            <div class="col-12 offset-1 text-justify h3">
                                <!--Google map-->
                                <h3>
                                <a target="_blank" class="text-center text-decoration-none " href="https://www.google.fr/maps/place/Claire+Saurel+Coaching/@47.0186306,4.8328964,17z/data=!3m1!4b1!4m5!3m4!1s0x47f2f27e858f1edd:0xe7a0046516b443de!8m2!3d47.0186306!4d4.8350851"> <i class="fas fa-home-lg text-black "></i> </a>Localisation : de mon bureau</h3>
                                <p>Je reçois à mon cabinet à Beaune ou en visio sur rendez-vous uniquement. </p>
                            </div>
            </section>

    </main>






{% endblock %}

