{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}

    <main class="container-fluid main-wip">
        <div class="row">
            <h1 class="text-center text-uppercase custom-margin-1 custom-title">
                Page en construction
            </h1>
        </div>
    </main>

{% endblock %}

