{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

    <div class="container-fluid ">
        <div class="row row-error">
            <h1 class="error-title error-404 text-center ">
                <sup><i class="fas fa-quote-left"></i></sup>Erreur 404<sub><i class="fas fa-quote-right"></i></sub>
            </h1>
            <p class="error-text text-center fst-italic">La page que vous recherchez n'existe pas.</p>
        </div>
    </div>

{% endblock %}
