{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row row-error">
            <h1 class="error-title error-403 text-center">
                <sup><i class="fas fa-quote-left"></i></sup>Erreur 403<sub><i class="fas fa-quote-right"></i></sub>
            </h1>
            <p class="error-text text-center fst-italic">L'accès à cette page est restreint.</p>
        </div>
    </div>

{% endblock %}
